.main-head{

    padding-left: 100px;


    
}
.header {
    text-align: center; /* Center align the content within the div */
  }
  
  h1 {
    font-size: 3em; /* Set a large font size for desktop screens */
  }

  .loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  .spinner {
    margin: 20% auto;
    width: 40px;
    height: 40px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 2s linear infinite;
  }
  .text {
    color: white;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  